body{
    height: 100%;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
}


#container{
    display: flex;
    width: 660px;
    height: 660px;
    margin:24px;
}


.pressed{
    background-color: red;
}


button{
    padding: 8px;
    border-radius: 8px;
    background-color:rgb(0, 119, 255);
    color:white;
    border: none;
    cursor: pointer;
}
