#container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 960px;
    height: 960px;
}

.square{
    border:1px solid black;
    display: block;
    width: 32px;
    height: 32px;
}


.pressed{
    background-color: red;
}

/* test */